html {
  font-family: Verdana, Arial, Sans-serif;
  line-height: 1.5;
}

img {
  border: 5px solid darkred;
  height: 540px;
  width: auto;
  /* example of how to center images*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  border: 10px solid red;
}

.subtitle,
h3 {
  font-weight: 700; /* this is bold */
  text-align: center;
}

#MainHeader,
h1 {
  text-align: center; 
}

.HomeRecipes {
  text-align: center;
  display: inline-block;
  margin: 0 10px;
}

div {
  border: 2px solid black;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

ol {
  list-style: upper-roman;
}

/* strogonoff style */

.stroganoff {
  display: flex;
  align-items: center;
}

.stroganoff_background {
  background-color: rgb(183, 119, 16);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stroganoff_box {
  background-color: rgb(238, 200, 50);
  border: 2px red solid;
}

.stroganoff_ingredients {
  display: flex;
  flex-direction: column;
}

.stroganoff_directions {
  display: flex;
  flex-direction: column;
}

/* Yakisoba noodles */

.yakisoba.box {
  background-color: hsl(45, 87%, 34%);
}

.yakisoba.ingredients,
.yakisoba.directions {
  color: white;
  border: 2px solid darkorange;
  background-color: rgb(20, 79, 2);
}

.yakisoba.ingredients,
.yakisoba.directions,
.yakisoba.background {
  display: flex;
  flex-direction: column;
}

.yakisoba.background {
  align-items: center;
  color: white;
  background-color: hsl(0, 0%, 0%);
}
