html {
  font-family: Verdana, Arial, Sans-serif;
  line-height: 1.5;
}

img {
  width: 640px;
  height: 360px;
}

div {
  border: 2px solid black;
  background-color: lightblue;
}

.subtitle {
  font-weight: 700; /* this is bold */
}

#MainHeader {
  text-align: center; 
}

.HomeRecipes {
  display: inline-block;
  margin: 0 10px;
}
